
html {
    background-color: black;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 0;
} 

.cont-one {
    height: 500px;
    background-color: #1F2937;
    padding: 0 200px;
}

.cont-two {
    height: 450px;
    background-color: white;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    padding-top: 18px;
}

ul {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding-top: 10px;
}

.img-placeholder {
    height: 250px;
    width: 300px;
    background-color: rgb(113, 110, 141);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    flex: 1 0 auto;
}

h1, p {
    color: #f9faf8;
    margin-top: 0;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}

p {
    font-size: 24px;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}

.main-info {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    padding-top: 70px;
}

.main-info-section {
    width: 300px;
    height: 250;
    flex: 1 0 auto;
}

.second-section {
    display: flex;
    gap: 50px;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.square {
    height: 170px;
    width: 170px;
    border: 5px solid #3882F6;
    border-radius: 12px;
}

.second-section-text {
    width: 170px;
    color: rgb(77, 76, 76);
    text-align: center;
    font-size: 18px;
}
